<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>329444860105-1kndbnd4rha1l8412t75fq6qa4c0hkfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329444860105-1kndbnd4rha1l8412t75fq6qa4c0hkfb</string>
	<key>API_KEY</key>
	<string>AIzaSyC8DFE39VF6rmZnkkpKnGOIoOu_r80aKqk</string>
	<key>GCM_SENDER_ID</key>
	<string>329444860105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unity3d.UWSG</string>
	<key>PROJECT_ID</key>
	<string>uwsg-4c77b</string>
	<key>STORAGE_BUCKET</key>
	<string>uwsg-4c77b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:329444860105:ios:2fab699b328530f7</string>
	<key>DATABASE_URL</key>
	<string>https://uwsg-4c77b.firebaseio.com</string>
</dict>
</plist>